langchain
langchain-openai
langchain-google-genai
langchain-community
pymongo
pypdf
python-docx
python-pptx
beautifulsoup4
tiktoken
faiss-cpu
python-dotenv
fastapi
uvicorn
langchain-huggingface
huggingface_hub
sentence-transformers 
pymongo
python-dotenv
langchain-chroma
chardet
langchain_groq
PyJWT
bcrypt
requests
